<footer class="relative bg-blueGray-200 pb-4">
      <hr class="my-6 border-blueGray-300" />
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-6/12 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            © <span id="get-current-year"></span> Tailpages Theme by
            <a
              href="https://harrywang.me"
              class="text-blueGray-500 hover:text-blueGray-800"
            >
              Harry Wang
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
