<footer class="relative px-4 pt-4 pb-4">
  
  <!-- divider -->
  <div class="relative my-8">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-200"></div>
    </div>
    <div class="relative flex justify-center ">
      <span class="bg-white px-2 text-gray-200">
        <i class="text-xs far fa-square"></i>
      </span>
    </div>
  </div>

  <!-- footer msg -->
  <div class="flex flex-wrap items-center justify-center">
    <div class="text-sm text-gray-300">
      © <span id="get-current-year"></span>
      {% if site.footer-msg %}
      <a href="{{site.footer-msg-link}}" class="!no-underline">
        {{site.footer-msg}}
      </a>
      {% endif %}
    </div>
  </div>
  </div>
</footer>