<nav class="flex flex-wrap items-center justify-center px-2 py-3 ">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-center">
        <div class="w-full relative flex justify-center">
            <button type="button" onclick="toggleNavbar('navbar')"
                class="rounded-md p-2 inline-flex items-center justify-center text-gray-500 lg:hidden"
                aria-expanded="false">
                <span class="sr-only">Open menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>

        <div class="flex items-center hidden md:block" id="navbar">
            <div class="flex justify-end flex-col lg:flex-row list-none mr-auto">
                {% if include.current-page != "Home" %}
                <a class="text-sm text-gray-500 hover:text-gray-900 px-3 py-2 lg:py-1 flex items-center uppercase"
                    href="{{site.baseurl}}/">
                    Home
                </a>
                {% endif %}

                <a class="text-sm text-gray-500 hover:text-gray-900 px-3 py-2 lg:py-1 flex items-center uppercase"
                    href="{{site.baseurl}}/about">
                    About
                </a>

            </div>

        </div>
    </div>
</nav>