<section>
  <div class="flex flex-wrap text-center">
    <div class="w-full pt-4">
      <div>
        {% if site.twitter %}
        <a href="{{site.twitter}}" target="_blank">
          <button
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-twitter"></i>
          </button>
        </a>
        {% endif %}

        {% if site.facebook %}
        <a href="{{site.facebook}}" target="_blank">
          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-facebook"></i>
          </button>
        </a>
        {% endif %}

        {% if site.instagram %}
        <a href="{{site.instagram}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-instagram"></i>
          </button>
        </a>
        {% endif %}

        {% if site.github %}
        <a href="{{site.github}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-github"></i>
          </button>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a href="{{site.linkedin}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-linkedin"></i>
          </button>
        </a>
        {% endif %}

        {% if site.medium %}
        <a href="{{site.medium}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-medium"></i>
          </button>
        </a>
        {% endif %}

        {% if site.google-scholar %}
        <a href="{{site.google-scholar}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fas fa-graduation-cap"></i>
          </button>
        </a>
        {% endif %}

        {% if site.email %}
        <a href="{{site.email}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fas fa-paper-plane"></i>
          </button>
        </a>
        {% endif %}

      </div>
    </div>
  </div>
</section>