<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/tailwind.css">

  </head>
  <body class="font-sans mx-auto max-w-prose">
  <div class="prose prose-yellow prose-lg">
    {{ content }}
  </div>
  </body>
</html>