---
layout: default
---
<div
  class="mx-auto flex flex-1 flex-wrap flex-col md:flex-row w-full items-center justify-between p-8 dark:bg-gray-800">
  <div class="flex flex-col py-16">
    <h2 class="text-8xl text-{{site.theme-color}} py-2">
      MBBU
    </h2>
    <p class="text-lg text-gray-500 dark:text-gray-400">Molecular Biology & Bioinformatics Unit </p>
  </div>
  <div class="flex flex-col items-center justify-center w-2/5">
    <img src="{{site.baseurl}}/assets/img/illustration.svg" alt="illustration" class="w-full">
  </div>
</div>