---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}


<div class="relative sm:overflow-hidden">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover" src="{{site.baseurl}}/assets/img/maxim-berg-h9sljx2r4Vk-unsplash.jpg" alt="People working on laptops">
    <div class="absolute inset-0 bg-white opacity-50"></div>
  </div>
  <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
    <h1 class="text-xl font-extrabold tracking-tight sm:text-4xl lg:text-6xl">
      <span class="block text-black">
        Fuxlab
      </span>
    </h1>
    <p class="mt-6 max-w-lg mx-auto text-xl text-black font-serif sm:max-w-3xl">
      develops and invests in environment friendly,<br/>
      intelligent digital products.
    </p>
  </div>
</div>

{% include social-media.html %}
{% include footer.html %}